html,
body {
  	height: 100%;
}
h1{
		font-size: 4em;
}
h2{
	font-size: 2em;
}
.card-title{
	margin-top: 1em;
}
.card {
	border: 0;
}
.header{
	color: rgba(209, 56, 153, 1);
}
.section-top{
    background: url("../images/home.jpeg")  center no-repeat;
    background-size: cover;
	padding-top: 400px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.jumbotron{
    background-color: rgba(255, 255, 255, 0.4);
	padding: 2em;
}
.services{
	padding-top: 4em;
	padding-bottom: 4em;
}
.card{
	padding: 20px 20px 20px 20px;
}
.services-links{
	color: rgba(0, 0, 0, 1);
}
.services-links:hover{
	text-decoration-line: none;
	color: rgba(209, 56, 153, 1);
	font-weight: bold;
}
.footer-img{
	background-color: rgba(128,128,128,1);
}
#footer{
	padding-top: 20px;
	color: rgba(0, 0, 0, 1);
	font-size: 0.8em;
	font-weight: bold;
} 
.footer-links{
	color: rgba(0, 0, 0, 1);
}
.footer-links:hover{
	color: rgba(209, 56, 153, 1);
	text-decoration-line: none;
}
.social-media{
	font-size: 2.5em;
	color: rgba(0, 0, 0, 1);
	margin-bottom: 2em;
	margin-left: 0.1em;
	margin-right: 0.1em;
}
.social-media:hover{
	color: rgba(209, 56, 153, 1);
}
#down-arrow{
	margin-top: 0.7em;
	font-size: 1.5em;
	color: rgba(128,128,128,1);
}
#down-arrow:hover{
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
}
.developer-background{
	background-color: rgba(80, 80, 80, 1);
	font-size: 0.5em;
	width: 100%;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 0px;
}
.developer{
	margin-bottom: 0px;
}
.developer-link{
	color: rgba(255, 255, 255, 1);
}
.developer-link:hover{
	color: rgba(0, 0, 0, 1);;
	text-decoration-line: none;
	font-weight: bold;
}
.mer-info{
	color: rgba(0, 0, 0, 1);
	text-decoration-line: none;
	font-weight: bold
}
.mer-info:hover{
	color: rgba(209, 56, 153, 1);
	text-decoration-line: none;
	font-weight: bold;
}